/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 4 Mar, 2020, 11:40:59 AM
    Author     : lz-cy-126
*/

.required {
    color: red;
}
.hidden {
    display: none!important;
}
.box-profile .pr-edit-btn
{
    position: absolute;
    top: 84px;
    right: 28%;
    font-size: 15px;
    background-color: #313553;
    border-radius: 50px;
    padding: 0px 8px;
    width: 30px;
    height: 30px;
    color: #fff;
    /* display: flex; */
    justify-content: center;
}

div#dataTable1_filter
{
    float : right;
}

div#dataTable1_paginate
{
    float : right;
}

.ajs-footer .ajs-button.ajs-ok
{
    outline: none;
    color: #fff !important;
    background-color: #2196f3 !important;
    border-color: #2196f3 !important;
    border-radius: 3px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.ajs-footer .ajs-button.ajs-cancel
{
    outline: none;
    background-color: #eee !important;
    border-color: #2196f3 !important;
    border-radius: 3px;
}

.ajs-footer .ajs-button.ajs-cancel:hover
{
    background-color: #ddd !important;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

a.counts
{
    color: #212529;
}

span.btn.cur-p.lz-status-icon.btn-primary,
span.btn.cur-p.lz-status-icon.btn-danger
{
    padding: 3px 6px;
    border-radius: 50px;
    width: 33px;
    height: 33px;
    text-align: center;
    float: right;
}

img#preview
{
    position: absolute;
    top: 4px;
    right: 94px;
    width: auto;
    max-height: 30px;
    object-fit: cover;
}

.hidden
{
    display: none;
}

#form_ticket input[type="file"]
{
    display: none;
}

.ticket .card.card-primary
{
    height: 472px;
}

.ticket .card-body
{
    overflow-y: auto;
}

.direct-chat-messages {

    height: 318px !important;
}
.p-body-fade::after{
    content: "";
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ffffff85;
    top: 0px;
    right: 0;
    z-index: 99;
}
.loader {
    border: 10px solid #efefef;
    border-radius: 50%;
    border-top: 10px solid #F8D447;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position:fixed;
    z-index: 999999;
    top: 50%;
    right: 50%;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
